<h1>Monitoreo de Servidores - Plataforma Rails</h1>
<div>
  <%= link_to 'Mantenimiento de Usuarios', controller: 'users' %>
  <br>
  <%= link_to 'Mantenimiento de Servidores', controller: 'servers' %>
  <br>
  <%= link_to 'Mantenimiento de Reglas', controller: 'rules' %>
  <br>
  <%= link_to 'Lista de Alertas', controller: 'alerts' %>
  <br>
  <%= link_to 'Lista de Infos', controller: 'infos' %>
</div>