<%= form_for @alert do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@alert.errors.count, "error") %> 
        imposibilitan la creación del registro.
      </h2>
      <ul>
        <% @alert.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
      <tr>
          <td><%= f.label "Usuario:"%></td>
          <td>
            <%#= f.text_field :user_id %>
            <%= f.select :user_id, options_for_select(@users.collect { |user| [user.name.titleize + ' ' + user.lastname.titleize, user.id] }, @alert.user_id), {}, {} %>
          </td>
      </tr>
      <tr>
          <td><%= f.label "Regla:"%></td>
          <td>
            <%#= f.text_field :rule_id %>
            <%= f.select :rule_id, options_for_select(@rules.collect { |rule| [rule.name, rule.id] }, @alert.rule_id), {}, {} %>
          </td>
      </tr>
  </table>  

  <p>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>
