<%#= javascript_include_tag "prueba" %>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> 
        prohibited this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </p>
  
  <p>
    <%= f.label :alias %><br>
    <%= f.text_field :alias %>
  </p>
  
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password, :id => 'user_password' %>
  </p>
  <p>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>