<!DOCTYPE html>
<html>
<head>
  <title>Monitoreo Servidores</title>
  <!--<link rel="icon" type="image/x-icon" href="../../../public/favicon.ico" />-->
  <%= favicon_link_tag 'bmobile.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="../assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
  <script src="../assets/javascripts/bootstrap.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
