<%= form_for @server do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@server.errors.count, "error") %> 
        imposibilitan la creación del registro.
      </h2>
      <ul>
        <% @server.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :Nombre %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :IP %><br>
    <%= f.text_field :ip %>
  </p>
  
  <p>
    <%= f.label :DNS %><br>
    <%= f.text_field :dns %>
  </p>
  <p>
    <%= f.submit 'Guardar' %>
  </p>
<% end %>